.title {
  color: #ed1c29;
  text-align: center;
  margin: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .table {

    width: 50%;
    text-align: center;

    th {
      color: rgb(197, 197, 197);
    }

    tr {
      height: 4rem;

      position: relative;
    }

    tr td:first-child {
      position: absolute;
      background-color: #ed1c29;
      color: #fff;
      width: 5rem;
      border-radius: 0.5rem;
      top: 25%;
    }

    tr td:nth-child(3) {
      font-weight: bold;
    }
  }
}
