.contentWrapper {

  &__title {
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: .2rem;
    width: 50%;

    .imgWrapper {
      position: absolute;
      width: 100%;
      z-index: -1;
      height: 312px;
      right: 0;
      top: 0;
    }

  }

}

.homeWrapper {

  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 4rem;

  &__textContainer {
    justify-self: center ;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    border: 1px solid #e6e6e6;
    padding: 5%;
    padding-bottom: 1%;
    padding-left: 8%;
    border-radius: 30px;
    box-shadow: 5px 10px 10px 5px rgba(0,0,0,0.2);

    span{
      font-size: 1.3rem;
      font-weight: bold;
      color: #ED1C29;
    }

  }

  &__images{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .cardsWrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }
  }

}

//responsive design for mobile devices
@media screen and (max-width: 768px) {
  .homeWrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "textContainer"
      "images";
  }

  .homeWrapper__textContainer {
    grid-area: textContainer;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 5%;
    border: none;
    box-shadow: none;
  }

  .homeWrapper__images{
    grid-area: images;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    box-shadow: none;
  }

  .homeWrapper__images .cardsWrapper{
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    box-shadow: none;
  }

}

//end of welcome module scss
